body{
    background-color: yellowgreen;
}
.m{
    display: flex;
    gap: 30px;
}
.m h1{
    text-align: center;
    align-items: center;
    align-self: center;
    padding: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
    background-color: yellow;
}